<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.yangao.mapper.FileInfoMapper">

    <resultMap id="BaseResultMap" type="edu.yangao.entity.FileInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="originName" column="origin_name" jdbcType="VARCHAR"/>
            <result property="currentName" column="current_name" jdbcType="VARCHAR"/>
            <result property="fileType" column="file_type" jdbcType="INTEGER"/>
            <result property="fileAddress" column="file_address" jdbcType="VARCHAR"/>
            <result property="objId" column="obj_id" jdbcType="INTEGER"/>
            <result property="objType" column="obj_type" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,description,origin_name,
        current_name,file_type,file_address,
        obj_id,obj_type,create_time,
        update_time,deleted
    </sql>
    <select id="selectAllByObjIdAndObjTypeAndFileType" resultType="fileInfo">
        select
        <include refid="Base_Column_List"/>
        from file_info
        where
        obj_id = #{objId,jdbcType=NUMERIC}
        AND obj_type = #{objType}
        AND file_type = #{fileType}
        AND deleted = 0
    </select>

</mapper>
